.label {
    margin: 20px 0;
    position: relative;
    display: inline-block;
    width: 100%
}

.span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
    font-size: 14px;
    color: #999999
}

input[type="text"] {
    padding: 10px 10px 10px 0px !important;
    border: none !important;
    border-bottom: 1px solid #5c159d !important;
    border-radius: 0px !important;
    color: #999999 !important
}

input[type="text"]:focus+span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-25px);
    display: block !important;
    color: #999999 !important
}

textarea {
    padding: 10px 10px 10px 0px !important;
    border: none !important;
    border-bottom: 1px solid #5c159d !important;
    border-radius: 0px !important;
    color: #999999 !important
}

textarea:focus+span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
    color: #999999 !important
}

input[type="text"]:focus+span,
input[type="text"]:not(:-ms-input-placeholder)+span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
    display: block !important;
    color: #999999
}

textarea:focus+span,
textarea:not(:-ms-input-placeholder)+span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
    color: #999999
}

.label.control-highlight .span {
    transform: scale(0.75) translateY(-100%) translateX(-25px);
    display: block !important;
    opacity: 1
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080"
}

.collapsible {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 10px 0 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 600
}

.active-contact {
    background-color: #fff;
    color: #5c159d;
    border-bottom: 1px solid #5c159d
}

.active-contact .content {
    border-bottom: 1px solid #5c159d
}

.collapsible:hover {
    background-color: #fff;
    color: #5c159d
}

.collapsible:hover:after {
    color: #5c159d
}

.collapsible:after {
    color: #999999;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    right: 5px;
    position: relative;
    top: 10px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 10px
}

.active-contact:after {
    color: #5c159d;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    right: 5px;
    position: relative;
    top: 10px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 10px
}

.content {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
    border-bottom: 1px solid #5c159d;
    position: relative
}

.content .location-img {
    position: absolute;
    top: 11px;
    right: 10px
}

.HomeSlider {
    min-height: 150px !important;
    background-color: #5c159d
}

@media (min-width: 0px) and (max-width: 1199px) {
    .HomeSlider {
        min-height: 100px !important
    }
}

.contact-font-color:hover {
    color: #5c159d
}

.contact-font-color .address-font {
    color: #000
}

.general-information p {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase
}

.general-information hr {
    width: 10%
}

.dynamic-add p:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px
}

@media (min-width: 1200px) {
    .address-sec {
        border-left: 1px solid #fff
    }
}

@media (min-width: 0) and (max-width: 992px) {
    .address-sec {
        margin-top: 30px
    }
}

.address-sec .map-address .map-btn {
    cursor: pointer;
    font-weight: normal !important;
    text-decoration: underline;
    color: #2727f5;
    font-size: 14px
}

.address-sec .map-address .address p {
    margin: 0
}

.address-sec p {
    font-size: 14px
}

@media (min-width: 0px) and (max-width: 1500px) {
    .address-sec br {
        display: none
    }
}

.bg-teal-form input[type="text"] {
    border-bottom: 1px solid #fff !important;
    color: #fff !important
}

input[type="text"] .bg-teal-form:focus+span,
.bg-teal-form:not(:-ms-input-placeholder)+span {
    color: #fff !important
}

.bg-teal-form .span {
    color: #fff !important
}

.bg-teal-form textarea {
    color: #fff !important;
    border-bottom: 1px solid #fff !important
}

.bg-teal-form textarea:focus+span,
.bg-teal-form textarea:not(:-ms-input-placeholder)+span {
    color: #fff
}

.chetu-locations {
    padding-left: 3%;
    padding-right: 3%
}

.chetu-locations .location-hover {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%
}

.chetu-locations .location-hover p {
    width: calc(100% - 60px);
    float: right;
    margin-top: 0px
}

.location-bg:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    background-color: #5c159d
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .map-sec .inner-box {
        position: relative
    }
}

/*# sourceMappingURL=contactus.css.map */